In [2]:
print("hello world")
print("hello tushar")

hello world
hello tushar

In [3]:
print("hello world",end="\t")## by default end is " "
print("hello tushar")

hello world	hello tushar

In [4]:
print("hello world",end="#")
print("hello tushar")

hello world#hello tushar

In [5]:
print ("hello","hey",sep="-")## by default sep is " "

hello-hey

In [6]:
x=100

In [7]:
print(x)

100

In [8]:
print("hello",x)

hello 100

In [9]:
type(x)

int

In [10]:
print(type(x))

<class 'int'>

In [11]:
gender="male"

In [12]:
print(type(gender))

<class 'str'>

In [13]:
gender='f'
print(type(gender))

<class 'str'>

In [15]:
address="""b 35 
         regex software
         gopalpura """ ## multi line string
print(address)

b 35
         regex software
         gopalpura

In [21]:
'''\comment\ '''

'\\comment\\ '

In [22]:
year=2024
company ="Regex Software"
print("Year is",year,"Company name is ",company)

Year is 2024 Company name is  Regex Software

In [23]:
print(f"Year is {year} Company name is {company}") ## f keyword is used for fomatting

Year is 2024 Company name is Regex Software

In [24]:
# .format method of formatting string
yr=2023
print("hey year is{}".format(yr))

hey year is2023

In [25]:
yr=2023
print("hey year is {} and company is {}".format(yr,"abc"))

hey year is 2023 and company is abc

In [26]:
yr=2023
print("hey year is {0} and company is {1}".format(yr,"abc"))## by default value in curly brackets

hey year is 2023 and company is abc

In [27]:
yr=2023
print("hey year is {1} and company is {0}".format(yr,"abc"))

hey year is abc and company is 2023

In [1]:
x=99
print(id(x))

140712228565872

In [2]:
#passing data through call by reference
y=x
print(id(y))

140712228565872

In [7]:
print(x)
print(y)
print("x:",id(x),"y:",id(y))

99
20
x: 140712228565872 y: 140712228563344

In [8]:
y=x
print(id(y))

140712228565872

In [9]:
print(x)
print(y)
print("x:",id(x),"y:",id(y))

99
99
x: 140712228565872 y: 140712228565872

In [10]:
y=20
print(id(y))

140712228563344

In [11]:
20+30

50

In [12]:
10/3 # division

3.3333333333333335

In [13]:
10//3 # floor division

3

In [14]:
2**4 #exponent

16

In [15]:
14%3 #modulus operator

2

In [16]:
5+2*6**2-4//7+9

86

In [17]:
x=10

In [18]:
x==10 # comparison operator

True

In [19]:
x<==9

SyntaxError: invalid syntax (<ipython-input-19-264d73620c3a>, line 1)

In [20]:
x<=9

False

In [21]:
x=10
x=x+15
print(x)

25

In [22]:
x=10
x += 15 # we can only use this way when there are same variable both the sides
print(x)

25

In [23]:
y=10
x=y+10 # we cannot use previous way as there are different variables

In [24]:
print(x)

20

In [25]:
y=1782
y %=3
print(y)

0

In [26]:
x=99
x==99

True

In [27]:
y=88
y>80

True

In [28]:
x==99 and y>90 # in and operator if one condition is false then answer is false or all conditions should be true to get result as true

False

In [29]:
x=99
y=888
x==99 or y>90 # in or operator atleast 1 condition should be true

True

In [30]:
x=99
y=888
age=18
x==99 or y>90 or age<18

True

In [31]:
x=199
y=888
age=18
x==99 or y>90 or age<18

True

In [37]:
not(False)

True

In [35]:
x=None
not x

True

In [38]:
# membership operator --> to check whether the element is member of the data or not
"y" in "jaipur"

False

In [39]:
"y" not in "jaipur"

True

In [40]:
"a" not in "jaipur"

False

In [ ]:
ss