In [1]:
#nested if else
age =18
city="jaipur"
# if age >=18  => age is eligible
#eligible for vote

In [2]:
age=18
city="Jaipur"
if(age>=18):
    print("Age is eligible")
    if(city=="Jaipur"):
        print("Eligible for voting")
    else:
        print("Not eligible for voting")
else:
    print("Age is less than 18")

Age is eligible
Eligible for voting

In [3]:
age=18
city="jaipur"
if(age>=18):
    print("Age is eligible")
    if(city=="Jaipur"):
        print("Eligible for voting")
    else:
        print("Not eligible for voting")
else:
    print("Age is less than 18")

Age is eligible
Not eligible for voting

In [5]:
# looping statement
# for loop used when we know no of iterations 
# using range 
#range(start,end,step size(default=1))
#end is exclusive
for i in range (0,5):
    print(i)

0
1
2
3
4

In [6]:
for i in range (0,5,2):
    print(i)

0
2
4

In [7]:
for i in range (5,0,-1):
    print(i)

5
4
3
2
1

In [8]:
for i in range (5,0-1,-1):
    print(i)

5
4
3
2
1
0

In [10]:
for count in range(1,41):
    if(count%3==0):
        print(count)

3
6
9
12
15
18
21
24
27
30
33
36
39

In [11]:
for num in range(100,0-1,-1):
    if(num%5==0 and num%15==0):
        print(num)

90
75
60
45
30
15
0

In [13]:
s=0
for num in range(1,11):
    s=s+num
print(s)

55

In [14]:
sum=0
print(sum)

0

In [15]:
s=0
for num in range(1,31):
    if(num%2==0):
        s=s+num
print(s)

240

In [16]:
#product of all the number from 8 to 1
fact=1
for num in range(8,0,-1):
    fact=fact*num
print(fact)

40320

In [17]:
#for loop on string
# 
data="Jaipur"
for x in data:
    print(x)

J
a
i
p
u
r

In [18]:
data="Hey"
for x in data:
    print(x)

H
e
y

In [19]:
# using index position 
len("Jaipur")

6

In [20]:
city="jaipur"
len(city)

6

In [21]:
for index in range(0,6):
    print(index)

0
1
2
3
4
5

In [23]:
city="jaipur"
for index in range(0,len(city)):
    print(index)

0
1
2
3
4
5

In [24]:
city="jaipur"
for index in range(0,len(city)):
    print(index,city[0])

0 j
1 j
2 j
3 j
4 j
5 j

In [25]:
city="jaipur"
for index in range(0,len(city)):
    print(index,city[index])

0 j
1 a
2 i
3 p
4 u
5 r

In [37]:
# from this string data find total no of characters 
# find total numbers of a in string data
city="Jaipaura"
print(f"Number of characters in city is {len(city)}")
count=0
for index in range(0,len(city)):
    if(city[index]=='a'):
        count=count+1
print(f"Total number of a in the string is {count}")

Number of characters in city is 8
Total number of a in the string is 3

In [36]:
city="Jaipaura"
print(f"Number of characters in city is {len(city)}")
count=0
for index in range(0,len(city)):
    if(city[index]=='a' or city[index]=='e' or city[index]=='i' or city[index]=='o' or city[index]=='u'):
        count=count+1
print(f"Total number of vowels in the string is {count}")

Number of characters in city is 8
Total number of vowels in the string is 5

In [38]:
city="Jaipaura"
print(f"Number of characters in city is {len(city)}")
count=0
for index in range(0,len(city)):
    if(city[index]=='a' or city[index]=='e' or city[index]=='i' or city[index]=='o' or city[index]=='u'):
        count=count+1
        print(index,city[index])
print(f"Total number of vowels in the string is {count}")

Number of characters in city is 8
1 a
2 i
4 a
5 u
7 a
Total number of vowels in the string is 5

In [39]:
city="Jaipaura"
print(f"Number of characters in city is {len(city)}")
count=0
for i in city:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        count=count+1
        print("Vowel",i)
print(f"Total number of vowels in the string is {count}")

Number of characters in city is 8
Vowel a
Vowel i
Vowel a
Vowel u
Vowel a
Total number of vowels in the string is 5

In [40]:
# run a for loop and find sum of 1st 20 natural numbers
# run a for loop and find sum of last 20 3 digit natural numbers
# run a for loop and find product and average of any 20 natural numbers
# print multiplication table of a number given by a user 
# find out the sum of power of starting 6 number 
  # 2**6
    # 2**1 + 2**2 + 2**3........+2**6
# take a string from the user and find out the total number of consonant which are there in the string 
# take a int number from the user and find out the total sum  , average and product
  # 1 to number sum avg and product for odd numbers

In [41]:
# run a for loop and find sum of 1st 20 natural numbers
s=0
for i in range (1,21):
    s=s+i
print(s)

210

In [44]:
# run a for loop and find sum of last 20 3 digit natural numbers
s=0
for i in range (980,1000):
    s=s+i
    print(i)
print(s)

980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
19790

In [47]:
# run a for loop and find sum of last 20 3 digit natural numbers
s=0
for i in range (999,979,-1):
    s=s+i
    print(i)
print(s)

999
998
997
996
995
994
993
992
991
990
989
988
987
986
985
984
983
982
981
980
19790

In [49]:
# run a for loop and find product and average of any 20 natural numbers
p=1
s=0
c=0

for i in range (1,21):
    p=p*i
    s=s+i
    c=c+1
    avg= s/c
print(f"Product = {p} , Average = {avg}")

Product = 2432902008176640000 , Average = 10.5

In [51]:
# print multiplication table of a number given by a user 
num=int(input("Enter a number to print the table: "))
tab=1
for i in range(1,11):
    tab=num*i
    print(tab)

Enter a number to print the table: 5
5
10
15
20
25
30
35
40
45
50

In [54]:
# find out the sum of power of starting 6 number 
  # 2**6
    # 2**1 + 2**2 + 2**3........+2**6
    
sum=0
for i in range (1,7):
    sum=sum+2**i
print(sum)

126

In [56]:
num=int(input("Enter a number:"))
sum=0
for i in range (1,7):
    sum=sum+num**i
print(sum)

Enter a number:2
126

In [60]:
# take a string from the user and find out the total number of consonant which are there in the string 
str=input("Enter a string: ")
count=0
for x in str:
    if(x!='a' and x!='e' and x!='o' and x!='i' and x!='u'):
        count=count+1
print(f"total number of consonants in the string = {count}")

Enter a string: Jaipur
total number of consonants in the string = 3

In [64]:
# take a int number from the user and find out the total sum  , average and product
  # 1 to number sum avg and product for odd numbers
num=int(input("Enter a number: "))
product =1
sum=0
count=0
for i in range(1,num+1):
    if(i%2!=0):
        print(i)
        product=product*i
        sum=sum+i
        count=count+1
        avg=sum/count
print(f"Product = {product} , Sum = {sum} , Average = {avg}")

Enter a number: 10
1
3
5
7
9
Product = 945 , Sum = 25 , Average = 5.0