In [1]:
# while loop
#for -> we know no. of iterations

In [2]:
i=1
while(i<10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [4]:
company="regex"
index=0
while(index<len(company)):
    print(index,company[index])
    index+=1

0 r
1 e
2 g
3 e
4 x

In [5]:
for i in range(1,5):
    print(i)

1
2
3
4

In [6]:
for i in range(1,5):
    print(i)
    break # to come out from the loop

1

In [8]:
for i in range(1,5):
    if(i==3):
        break
    print(i)

1
2

In [9]:
i=50
while(i>=20):
    print(i)
    i-=1

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20

In [11]:
i=50
s=0
while(i>=20):
    s=s+i
    i-=1
print(s)

1085

In [17]:
i=50
count=1
while(count<=10):
    if(i%5==0 and i%7==0):
        count+=1
        print(i)
    i+=1

70
105
140
175
210
245
280
315
350
385

In [15]:
i=50
count=0
while(True):
    if(i%5==0 and i%7==0):
        count+=1
        print(i)
    if(count==10):
        break
       
    i+=1

70
105
140
175
210
245
280
315
350
385

In [16]:
i=50
count=0
while(True):
    if(i%5==0 and i%7==0):
        count+=1
        print(i)
        if(count==10):
            break
       
    i+=1

70
105
140
175
210
245
280
315
350
385

In [19]:
# nested loop = loop in a loop
for i in range(1,6):
    print("hello")
    for k in range(1,4):
        print(k)

hello
1
2
3
hello
1
2
3
hello
1
2
3
hello
1
2
3
hello
1
2
3

In [20]:
for i in range(1,6):
    for k in range(1,4):
        print(k)

1
2
3
1
2
3
1
2
3
1
2
3
1
2
3

In [21]:
for i in range(1,6):
    for k in range(1,4):
        print(k)
        
    print("")

1
2
3

1
2
3

1
2
3

1
2
3

1
2
3

In [22]:
for i in range(1,6):
    for k in range(1,4):
        print(k,end=" ")
        
    print("")

1 2 3
1 2 3
1 2 3
1 2 3
1 2 3

In [24]:
for i in range(1,4):
    for k in range(1,5):
        print("*",end=" ")
        
    print("")

* * * *
* * * *
* * * *

In [25]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *

In [ ]:
''' Assignment
****
***
**
* 

10
11 12
13 14 15

D
D C
D C B
D C B A


A 
A B
A B C
A B C D

10
10 11
10 11 12
10 11 12 13


D C B A
D C B 
D C 
D

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1


F
H J
L N P
R T V X


****
 ***
  **
   *
   
'''