In [1]:
'''
****
***
**
* 


A 
A B
A B C
A B C D

10
10 11
10 11 12
10 11 12 13


D C B A
D C B 
D C 
D

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1


F
H J
L N P
R T V X


****
 ***
  **
   *
   
'''

"'\nA \nA B\nA B C\nA B C D\n\n10\n10 11\n10 11 12\n10 11 12 13\n\n\nD C B A\nD C B \nD C \nD\n\n1\n1 2\n1 2 1\n1 2 1 2\n1 2 1 2 1\n\n\nF\nH J\nL N P\nR T V X\n\n\n****\n ***\n  **\n   *\n   \n"

In [2]:
print(chr(65))

A

In [3]:
print(chr(64))

@

In [8]:
for i in range(65,69):
    for j in range(65,i+1):
        print(chr(j),end=" ")
    print(" ")

A
A B
A B C
A B C D

In [7]:
for i in range(1,5):
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print(" ")

A
A B
A B C
A B C D

In [13]:
for i in range(10,14):
   
    for j in range(10,i+1):
        x=j
        print(x,end=" ")
    print(" ")

10
10 11
10 11 12
10 11 12 13

In [18]:
for i in range(1,5):
    for j in range(i,0,-1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *

In [23]:
for i in range(1,5):
    for j in range(4,i-1,-1):
        print("*",end=" ")
    print("")

* * * *
* * *
* *
*

In [25]:
for i in range(1,5):
    for j in range(4,i-1,-1):
        print(chr(64+j),end=" ")
    print("")

D C B A
D C B
D C
D

In [26]:
for i in range(1,6):
    for j in range(1,i+1):
        if(j%2==0):
            print("2",end=" ")
        else:
            print("1",end=" ")
    print("")

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [27]:
x=70
for i in range(1,5):
    for j in range(1,i+1):
        print(chr(x),end=" ")
        x+=2
    print("")

F
H J
L N P
R T V X

In [32]:
for i in range(1,5):
    for s in range(0,i-1):
        print(" ",end=" ")
    for j in range(4,i-1,-1):
        print("*",end=" ")
    print(" ")

* * * *
  * * *
    * *
      *

In [30]:
for i in range(1,5):
    for j in range(1,i+1):
        print(chr(69-j),end=" ")
    print("")

D
D C
D C B
D C B A

In [39]:
# fibonacci 
num=int(input("enter a number: "))
n1=0
n2=1
print(n1,n2,end=" ")
for i in range(1,num+1):
    n3=n2+n1
    print(n3,end=" ")
    n1=n2
    n2=n3

enter a number: 6
0 1 1 2 3 5 8 13

In [45]:
#palindrome
num=121
temp=num
s=0
while(num>0):
    rem=num%10
    s=s*10+rem
    num=num//10 # in python divide give float value thats why we use floor division
print(s)
print(temp)
if(temp==s):
    print("palindrome")
else:
    print("not palindrome")

121
121
palindrome

In [58]:
# user input table
num = int(input("Enter a number: "))
for i in range(1,11):
    tab=num*i
    print(i,end=" ")
    print(tab)

Enter a number: 6
1 6
2 12
3 18
4 24
5 30
6 36
7 42
8 48
9 54
10 60

In [56]:
x=10
for i in range(1,4):
    for j in range(1,i+1):
        print(x,end=" ")
        x+=1
    print("")

10
11 12
13 14 15

In [62]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print(" ")
for i in range(1,5):
    for j in range(5,i,-1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * *
* * *
* *
*

In [66]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print(" ")
for i in range(1,4):
    for j in range(4,i,-1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * *
* *
*

In [69]:
for i in range(1,5):
    for j in range(4,i-1,-1):
        print("*",end=" ")
    print(" ")
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print(" ")

* * * *
* * *
* *
*
*
* *
* * *
* * * *

In [76]:
for i in range(1,5):
    for j in range(4,i-1,-1):
        print("*",end=" ")
    print(" ")
for i in range(2,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print(" ")

* * * *
* * *
* *
*
* *
* * *
* * * *

In [82]:
for i in range(1,6):
   
    for j in range(1,i+1):
        print(j,end=" ")
   
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [83]:
 for i in range(1,6):
   
    for j in range(1,i+1):
        print(i,end=" ")
   
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [84]:
for i in range(1,6):
    for j in range(1,i+1):
        if(j%2==0):
            print("0",end=" ")
        else:
            print("1",end=" ")
    print("")

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [85]:
for i in range(1,6):
    for j in range(1,i+1):
        if(i%2==0):
            print("0",end=" ")
        else:
            print("1",end=" ")
    print("")

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

In [87]:
x=1
for i in range(1,5):
    for j in range(1,i+1):
        print(x,end=" ")
        x+=1
    print("")

1
2 3
4 5 6
7 8 9 10

In [91]:

for i in range(1,6):
    for j in range(1,6):
        print(i,end=" ")
    print("")

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [92]:

for i in range(1,6):
    for j in range(1,6):
        print(j,end=" ")
    print("")

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [94]:
x=1
for i in range(1,5):
    for j in range(1,5):
        print(x,end=" ")
        x+=1
    print("")

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [99]:
for i in range(1,6):
    x=i
    for j in range(1,6):
        print(x,end=" ")
        x+=1
    print("")

1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

In [103]:
for i in range(1,5):
    for s in range(4,i-1,-1):
        print(" ",end=" ")
    for j in range(1,i+1):
        print("*",end=" ")
    print("")

        *
      * *
    * * *
  * * * *

In [105]:
for i in range(1,5):
    for s in range(1,i+1):
        print(" ",end=" ")
    for j in range(4,i-1,-1):
        print("*",end=" ")
    print("")

  * * * *
    * * *
      * *
        *

In [106]:
for i in range(1,5):
    for s in range(4,i-1,-1):
        print(" ",end=" ")
    for j in range(1,i+1):
        print("*",end=" ")
    print("")
for i in range(1,5):
    for s in range(1,i+1):
        print(" ",end=" ")
    for j in range(4,i-1,-1):
        print("*",end=" ")
    print("")

        *
      * *
    * * *
  * * * *
  * * * *
    * * *
      * *
        *

In [123]:
for i in range(1,5):
    print(" "*(4-i)+"* "*i)
for i in range(4,0,-1):
    print(" "*(4-i)+"* "*i)

   *
  * *
 * * *
* * * *
* * * *
 * * *
  * *
   *

In [125]:
for i in range(1,5):
    print("#"*(4-i)+"*"*i)
for i in range(4,0,-1):
    print("#"*(4-i)+"*"*i)

###*
##**
#***
****
****
#***
##**
###*

In [126]:

for i in range(4,0,-1):
    print(" "*(4-i)+"* "*i)
for i in range(1,5):
    print(" "*(4-i)+"* "*i)

* * * *
 * * *
  * *
   *
   *
  * *
 * * *
* * * *

In [127]:
for i in range(4,0,-1):
    print("#"*(4-i)+"*"*i)
for i in range(1,5):
    print("#"*(4-i)+"*"*i)

****
#***
##**
###*
###*
##**
#***
****