In [1]:
ord('a')

97

In [4]:
chr(66)

'B'

In [9]:
x=0
for i in range(1,4):
    for j in range(1,i+1):
        y=2**x
        print(y,end=" ")
        x+=1
    print(" ")

1
2 4
8 16 32

In [8]:
x=17
for i in range(1,4):
    for j in range(1,i+1):
        print(x,end=" ")
        x+=2
    print(" ")

17
19 21
23 25 27

In [10]:
count=1
for i in range(1,4):
    for j in range(1,i+1):
        print(count,end=" ")
        count*=2
    print(" ")

1
2 4
8 16 32

In [11]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *

In [12]:
for i in range(1,5):
    for j in range(1,i):
        print("z",end=" ")
    print(" ")

z
z z
z z z

In [13]:
for i in range(1,5):
    for j in range(1,i):
        print("z",end=" ")
    for k in range(i,5):
        print("*",end=" ")
    print(" ")

* * * *
z * * *
z z * *
z z z *

In [14]:
for i in range(1,5):
    for j in range(1,i):
        print(" ",end=" ")
    for k in range(i,5):
        print("*",end=" ")
    print(" ")

* * * *
  * * *
    * *
      *

In [16]:
for i in range(1,5):
    for j in range(1,i+1):
        print(" ",end=" ")
    for k in range(4,i-1,-1):
        print("*",end=" ")
    print("")

  * * * *
    * * *
      * *
        *

In [17]:

for i in range(1,5):
    x=1
    for j in range(1,i):
        print(" ",end=" ")
    for k in range(i,5):
        print(x,end=" ")
        x+=1
    print(" ")

1 2 3 4
  1 2 3
    1 2
      1

In [18]:
x=1
for i in range(1,5):

    for j in range(1,i):
        print(" ",end=" ")
    for k in range(i,5):
        print(x,end=" ")
        x+=1
    print(" ")

1 2 3 4
  5 6 7
    8 9
      10

In [24]:

for i in range(1,5):

    for j in range(1,i):
        print(" ",end=" ")
    for k in range(i,5):
        if(i%2==0):
            print("#",end=" ")
        else:
            print("$",end=" ") # $ is printed in i=1 and i=3
    print(" ")

$ $ $ $
  # # #
    $ $
      #

In [25]:
x=4
for i in range(1,5):

    for j in range(1,i):
        print(" ",end=" ")
    for k in range(i,5):
        print(x,end=" ")
        x+=2
    print("")

4 6 8 10
  12 14 16
    18 20
      22

In [26]:
'''
ABCD
 BCD
  CD
   D
   
ABCD
 ABC
  AB
   A
   
A B C D
  10 100 1000
    B C
      100
      
Z Y X
  W V
    U
    
    
* * * *
 *    *
   *  *
      *
   
   
* * * * *
*     *
*   *
* *
*


    
'''

'\nABCD\n BCD\n  CD\n   D\n   \nABCD\n ABC\n  AB\n   A\n   \nA B C D\n  10 100 1000\n    B C\n      100\n      \nZ Y X\n  W V\n    U\n    \n'

In [33]:
for i in range(1,6):
    for j in range(1,i+1):
        if(j==1 or i==5 or i==j):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print("")

*
* *
*   *
*     *
* * * * *

In [34]:
ord('z')

122