In [1]:
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    newlist=[]
    a=[]
    for i in range(0,x+1):
        a=[]
        for j in range(0,y+1):
            for k in range(0,z+1):
                if(i+j+k<n):
                    a.append(i)
                    a.append(j)
                    a.append(k)
                    newlist.append(a)

2
4
1
3

In [52]:
'''
12 days 
sunday start
1 2 3 4 5 6 7
2 3 4 5 6 


'''



x=int(input("Enter the number of days:"))
count=1
for i in range(1,x+1):
    
    if(x%8==0):
        count=1
        total+=1
    else:
        total+=1
    count+=1
print()

Enter the number of days:10
514

In [3]:
# set 
# collection of elements,unique
# mutable in nature
# {}
# set can only have immutable datatype as element

In [4]:
myset={}
print(type(myset))

<class 'dict'>

In [5]:
myset=set({})
print(type(myset))

<class 'set'>

In [6]:
myset={10,20,30}
print(myset)

{10, 20, 30}

In [7]:
myset={10,20,30,20,10,30,10}
print(myset) # set only have unique element if duplicated then it will give one time

{10, 20, 30}

In [8]:
# unordered datatype
# no index

In [9]:
myset={10,20,30,10,40,"yash"}
print(myset)

{'yash', 40, 10, 20, 30}

In [10]:
myset={10,20,30,10,40,"yash",[10,0],(10,20)}
print(myset)

TypeError: unhashable type: 'list'

In [11]:
myset={10,20,30,10,40,"yash",(10,20)}
print(myset)

{'yash', 40, 10, (10, 20), 20, 30}

In [12]:
myset.add(800)
myset

{(10, 20), 10, 20, 30, 40, 800, 'yash'}

In [13]:
myset.update([888]) # update takes a iterable value
myset

{(10, 20), 10, 20, 30, 40, 800, 888, 'yash'}

In [14]:
myset.update("uts") # update takes a iterable value
myset

{(10, 20), 10, 20, 30, 40, 800, 888, 's', 't', 'u', 'yash'}

In [16]:
myset.remove((10,20)) # elemnet is there then delete that and if it is not there then gives error
myset

{10, 20, 30, 40, 800, 888, 's', 't', 'u', 'yash'}

In [17]:
myset.pop() # deletes random elemnet

'yash'

In [18]:
myset.discard(10)
myset # deletes the element and if elemnet not there then skips the error

{20, 30, 40, 800, 888, 's', 't', 'u'}

In [19]:
myset1={10,20,30}
myset2={30,40,50}

myset1.union(myset2)

{10, 20, 30, 40, 50}

In [27]:
# "hey this side tushar hey"
st="hey this side tushar hey".split(" ")
st
myset=set(st)
myset

{'hey', 'side', 'this', 'tushar'}

In [57]:
'''
for i in range(1,6):
    x=i
    for j in range(1,6):
        print(x,end=" ")
        x+=1
    print("")

'''

n=int(input("Enter the number of days:"))
total=0
for i in range(1,n):
    x=i
    a=n//8
    for j in range(1,8+a):
        
        total+=x
        x+=1
        print(total)
        
    print("")
print(x,end=" ")

Enter the number of days:4
1
3
6
10
15
21
28

30
33
37
42
48
55
63

66
70
75
81
88
96
105

10

In [56]:
'''
"[]{}()"= brackets are correct
" [ {} ()] "= brackets are correct
" [{(}])"= brackets are incorrect
'''

'\n"[]{}()"= brackets are correct\n" [ {} ()] "= brackets are correct\n" [{(}])"= brackets are incorrect\n'

In [59]:
for i in range(1,6):
    x=i
    for j in range(1,6):
        print(x,end=" ")
        x+=1
    print("")

1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

In [ ]:
n=int(input("Enter the number of days:"))
for i in range(1,n):
    x=i
    for j in range(1,n):
        print(x,end=" ")
        x+=1
    
    print("")

In [17]:
n=int(input("Enter the number of days:"))
count=0
sum=0
for i in range(1,n+1):
    x=i
    for j in range(1,9-i):
        if(count<n):
            
            sum+=x
            x+=1
            count+=1
        
print(sum)

Enter the number of days:12
48

In [ ]:
'''
"[]{}()"= brackets are correct
" [ {} ()] "= brackets are correct
" [{(}])"= brackets are incorrect
'''

In [19]:
ord("{")

123

In [20]:
ord("}")

125

In [21]:
chr(124)

'|'

In [22]:
ord("(")

40

In [28]:
mylist1=["(","[","{"]
mylist2=[")","]","}"]
s=input("Enter brackets:")
x=0
for i in s:
        if i == mylist1:
            x+=1
        elif i == mylist2:
            x-=1
        if x<0:
            break
if(x==0):
    print("correct")
else:
    print("incorrect")

Enter brackets:([)]
correct