In [2]:
# Population ==> all the dataset ==>country

# Sample ==> sub data of dataset ==> city

# Normal Distribution ==> from central tendancy , we have equal data from left and right side

# Central Tendancy ==> mean , median , mode 

# mean = sum of total elements / count of elements 
a=1,2,3,4,5
# mean = (1+2+3+4+5)/5 = 15/5 = 3

# median == sort ==> even n/2 , odd=n+1/2
a=1,4,2,3,5
# median =1,2,3,4,5
# oddd = 5+1/2 = 6/2 =3rd number ===> median =3

# mode ==. most frequent value
a=1,2,2,3,2,5
# mode=2

# standard deviation ==> central tendancy ==> gap of next value

# Normal Distributed ==> mean = 0 , std = 1

In [3]:
# Machine Learning Workflow

# Data(Gather) ==> Data Preprocessig(Normal Distribution) ==> 
# ML Algorithms ==> Predictions ==> Performance Evaluation

## Data Preprocessing ==> 

### 1.) Standardization ==>  mean = 0 , standart deviation = 1

In [4]:
# data ==> independent data(X) , Dependent data(y)

# (X) ==> X_train , X_test

# (y) ==>  y_train , y_test

In [5]:
# machine (training data)  ==> Prediction (Testing Data)

In [6]:
import numpy as np 
import pandas as pd

In [7]:
df=df=pd.read_csv("C:\\Users\\DELL\\OneDrive\\Desktop\\Regex\\Adv Python\\placement.csv")
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [9]:
x=df.drop(columns=['placed'],axis=1)  # independent data
type(x)

pandas.core.frame.DataFrame

In [10]:
x.head(2)

   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17

In [11]:
y=df['placed'] ## dependent data

In [12]:
print("Total Data Shape=",df.shape)
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)

Total Data Shape= (100, 3)
Independent Data Shape= (100, 2)
Dependent Data Shape= (100,)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train , x_test , y_train , y_test =train_test_split(x,y,test_size =0.2 , random_state=42)

In [15]:
print("Total Data Shape=",df.shape)
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)
print("X_train Data Shape=",x_train.shape)
print("X_test Data Shape=",x_test.shape)

Total Data Shape= (100, 3)
Independent Data Shape= (100, 2)
Dependent Data Shape= (100,)
X_train Data Shape= (80, 2)
X_test Data Shape= (20, 2)

In [ ]:
# covid , tips , titanic