# Standardization (Mean Centroid)

In [34]:
import numpy as np
import pandas as pd

### Placement dataset

In [2]:
df=pd.read_csv("C:\\Users\\DELL\\OneDrive\\Desktop\\Regex\\Adv Python\\placement.csv")
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [13]:
df.isnull().sum() # to check missing values in the dataframe

cgpa            0
resume_score    0
placed          0
dtype: int64

In [3]:
x=df.drop(columns=['placed'],axis=1) # input data
y=df['placed'] # target data

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x_train , x_test , y_train , y_test =train_test_split(x,y,test_size =0.2 , random_state=42)

In [6]:
print("Total Data Shape=",df.shape)
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)
print("X_train Data Shape=",x_train.shape)
print("X_test Data Shape=",x_test.shape)
print("y_train Data Shape=",y_train.shape)
print("y_test Data Shape=",y_test.shape)

Total Data Shape= (100, 3)
Independent Data Shape= (100, 2)
Dependent Data Shape= (100,)
X_train Data Shape= (80, 2)
X_test Data Shape= (20, 2)
y_train Data Shape= (80,)
y_test Data Shape= (20,)

In [8]:
np.round(x_train.describe(),1)

       cgpa  resume_score
count  80.0          80.0
mean    6.9           7.0
std     1.1           1.0
min     5.3           5.0
25%     6.0           6.3
50%     6.6           7.2
75%     8.1           7.7
max     9.3           9.1

In [9]:
# Now we will apply standardization so that we can covert our data into normal distribution

# mean =0
# standard deviation =1

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc =  StandardScaler()  # used to make the mean =0 and std =1

In [15]:
x_train_sc= sc.fit_transform(x_train) # fit means learn the parameter and apply function on data

In [16]:
x_train_new=pd.DataFrame(x_train_sc , columns =x_train.columns)

In [17]:
x_train_new.head(3)

       cgpa  resume_score
0 -0.008602     -0.128926
1  1.001293     -0.925381
2 -0.607389     -0.527154

In [18]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

### Social Networks Ads dataset

In [20]:
df=pd.read_csv("C:\\Users\\DELL\\OneDrive\\Desktop\\Regex\\Adv Python\\Social_Network_Ads.csv")
df.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [21]:
df=df.drop(columns=['Gender'],axis=1)
df.head(3)

    User ID  Age  EstimatedSalary  Purchased
0  15624510   19            19000          0
1  15810944   35            20000          0
2  15668575   26            43000          0

In [22]:
df.isnull().sum()

User ID            0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [23]:
x=df.drop(columns=['Purchased'],axis=1) # input data
y=df['Purchased'] # target data

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train , x_test , y_train , y_test =train_test_split(x,y,test_size =0.2 , random_state=42)

In [26]:
print("Total Data Shape=",df.shape)
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)
print("X_train Data Shape=",x_train.shape)
print("X_test Data Shape=",x_test.shape)
print("y_train Data Shape=",y_train.shape)
print("y_test Data Shape=",y_test.shape)

Total Data Shape= (400, 4)
Independent Data Shape= (400, 3)
Dependent Data Shape= (400,)
X_train Data Shape= (320, 3)
X_test Data Shape= (80, 3)
y_train Data Shape= (320,)
y_test Data Shape= (80,)

In [27]:
np.round(x_train.describe(),1)

          User ID    Age  EstimatedSalary
count       320.0  320.0            320.0
mean   15689066.4   37.9          70281.2
std       71974.3   10.2          34430.6
min    15569641.0   18.0          15000.0
25%    15622771.0   30.0          43000.0
50%    15689969.5   37.0          71000.0
75%    15747470.0   45.0          88000.0
max    15815236.0   60.0         150000.0

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
sc =  StandardScaler()

In [30]:
x_train_sc= sc.fit_transform(x_train) # fit means learn the parameter and apply function on data

In [31]:
x_train_new=pd.DataFrame(x_train_sc , columns =x_train.columns)

In [32]:
x_train_new.head(3)

    User ID       Age  EstimatedSalary
0 -1.194243 -1.066752        -0.386344
1  0.215923  0.797535        -1.229939
2  0.646834  0.110692         1.853544

In [33]:
np.round(x_train_new.describe(),2)

       User ID     Age  EstimatedSalary
count   320.00  320.00           320.00
mean      0.00   -0.00             0.00
std       1.00    1.00             1.00
min      -1.66   -1.95            -1.61
25%      -0.92   -0.77            -0.79
50%       0.01   -0.09             0.02
75%       0.81    0.70             0.52
max       1.76    2.17             2.32